/* general */


.text-boxes .text-box h1,
.text-boxes .text-box h2,
.text-boxes .text-box h3,
.text-boxes .text-box h4,
.text-boxes .text-box h5,
.text-boxes .text-box h6{
    font-weight: 700;
    font-size: 24px;
    color:#0f1b55;
    margin-bottom: 35px;
    line-height: 24px;
}

.text-boxes ul li em{
    font-style: italic;
}

.text-boxes .grid-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: inline-flex;
    flex-wrap: wrap;
}

.text-boxes .text-box-wrapper{
    padding: 20px;
    display: flex;
}

.text-boxes .text-box {
    font-weight: 700;
    width: 100%;
}

.text-boxes .buttons-wrapper{
    margin-top: 25px;
}

.text-boxes .buttons-wrapper a{
    margin-right: 15px;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

    .text-boxes .text-box-wrapper{
        width: 100%;
    }

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* lg (desktop) */
@media (min-width: 992px) {

}