/* general */

.rte .buttons-wrapper{
    margin-top: 40px;
}

.rte{
    background-size: cover;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* lg (desktop) */
@media (min-width: 992px) {

}