/* =======================================
 Basic Header
 ========================================*/

/* sticky */
.basic-header .main-nav-sticky {
    display: block;
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFF;
    -webkit-box-shadow: 0 0 3px 1px #dbdbdb;
    box-shadow: 0 0 3px 1px #dbdbdb;
    z-index: 10;
}

.basic-header .main-nav-sticky .logo-wrapper {
    padding-top: 0px;
}

.basic-header.custom-logo .main-nav-sticky .logo-wrapper {
    padding-top: 0px;
}

.basic-header.custom-logo .main-nav-sticky .nav-wrapper {
    padding-top: 13px;
}

.basic-header .main-nav-sticky .nav-wrapper .menu-top-menu-container {
    display: none;
}

.basic-header .main-nav-sticky .logo-wrapper a img {
    width: 170px;
}

/* sticky end */

.basic-header .logo-wrapper {
    padding-top: 20px;
    order: 1;
    overflow: visible;
    white-space: nowrap;
}

.basic-header.custom-logo .logo-wrapper{
    padding-top: 20px;
    padding-left: 40px;
}

.basic-header .logo-wrapper a:hover {
    border-color: transparent;
}


.basic-header .logo-wrapper a img {
    width: 215px;
    height: auto;
}

.basic-header .logo-wrapper a .top-logo img {
    width: 280px;
    height: auto;
    margin-bottom: 10px;
}

.basic-header .logo-wrapper a .bottom-logo img {
    width: 115px;
}

.basic-header .logo-wrapper a .bottom-logo span {
    color: #06222c;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    letter-spacing: .5px;
}

.basic-header .nav-wrapper {
    padding-left: 10%;
}

.basic-header .nav-wrapper ul {
    display: block;
    max-width: 100%;
    text-align: right;
}

.basic-header ul li {
    display: inline-block;
}

.basic-header .nav-wrapper .menu-top-menu-container {
    margin-bottom: 25px;
    margin-top: 0px;
    background: #707e89;
    padding-top: 5px;
    padding-bottom: 7px;
    margin-right: -15px;
}

.basic-header .nav-wrapper .menu-top-menu-container::before {
    content: "";
    width: 80px;
    height: 45px;
    background: #FFF;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    margin: 0px 0px 0px -27px;
}

.basic-header .nav-wrapper .menu-top-menu-container ul li {
    padding-right: 45px;
    margin-bottom: 0px;
}

.basic-header .nav-wrapper .menu-top-menu-container ul li:last-of-type {
    padding-right: 20px;
}


.basic-header .nav-wrapper .menu-top-menu-container ul li a {
    font-weight: 800;
}

.basic-header .nav-wrapper .menu-top-menu-container ul li a.user-email {
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 700;
}

.basic-header .nav-wrapper .menu-header-menu-container ul li {
    padding-right: 60px;
}

.basic-header .nav-wrapper .menu-header-menu-container ul li:last-of-type {
    padding-right: 0px;
}

.basic-header .nav-wrapper .menu-header-menu-container ul li a {
    font-weight: 700;
    line-height: 50px;
    color: #06222c;
}

.basic-header .nav-wrapper .menu-header-menu-container ul li.nav-button a {
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    background: #0f1b55;
    border-radius: 5px;
    font-weight: 800;
    color: #FFF;
}

.basic-header .nav-wrapper .menu-header-menu-container ul li.nav-button a:hover {
    border-color: transparent;
    background: #707e89;
}

.basic-header .nav-wrapper .nav-wrapper {
    padding-top: 15px;
    padding-right: 80px;
    order: 2;
    margin-left: auto;
}

.basic-header .nav-wrapper ul li:before {
    display: none;
}

.basic-header .nav-wrapper ul li.phone-icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/smartphone.svg);
    mask: url(../img/smartphone.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.basic-header .nav-wrapper ul li.contact-icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/mail.svg);
    mask: url(../img/mail.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.basic-header .nav-wrapper ul li.login-icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/user.svg);
    mask: url(../img/user.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.basic-header .nav-wrapper ul li.lead-icon:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/pen-tool.svg);
    mask: url(../img/pen-tool.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.basic-header .nav-wrapper-mobile {
    display: none;
}

@media (max-width: 1400px) {
    .basic-header .nav-wrapper .menu-top-menu-container ul li {
        padding-right: 20px;
    }
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

    .basic-header.custom-logo .logo-wrapper {
        padding-top: 0px;
    }

    .basic-header .logo-wrapper a .top-logo img {
        width: 220px;
        height: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .basic-header .logo-wrapper a .bottom-logo img {
        width: 95px;
        margin-top: 0px;
    }

    .basic-header .logo-wrapper a .bottom-logo span {
        color: #06222c;
        font-size: 12px;
        font-family: "Nunito Sans", sans-serif;
        line-height: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
        letter-spacing: 0px;
    }

    .nav-open {
        display: block;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 10px;
        text-decoration: none;
        border: none;
    }

    .nav-open div {
        display: block;
        margin: 10px;
        width: 40px;
        height: 2px;
        background-color: #06222c;
    }

    .nav-open.dark-humb div {
        background-color: #06222c;
    }

    .full-screen-header .main-nav-sticky {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .full-screen-header .main-nav-sticky .logo-wrapper a img {
        margin: 15px 0px;
    }

    .nav-close {
        text-decoration: none;
        border: none;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }

    .nav-close:before, .nav-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: #FFF;
    }

    .nav-close:before {
        transform: rotate(45deg);
    }

    .nav-close:after {
        transform: rotate(-45deg);
    }

    .basic-header .logo-wrapper a img {
        width: 180px;
        height: auto;
    }

    .basic-header .logo-wrapper {
        padding-left: 15px;
        padding-top: 15px;
    }

    .basic-header .nav-wrapper {
        display: none;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container {
        margin-top: 120px;
    }

    .basic-header .nav-wrapper-mobile {
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        background-color: #0f1b55;
        width: 0px;
        right: 0px;
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        overflow-x: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        opacity: 0;
        position: fixed;
        z-index: 10;
    }

    .basic-header .nav-wrapper-mobile ul li {
        display: block;
        padding-right: unset !important;
        margin-bottom: unset !important;
    }

    .basic-header .nav-wrapper-mobile ul {
        display: block;
        max-width: 100%;
        text-align: right;
    }

    .basic-header ul li {
        display: inline-block;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container {
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li {
        padding-right: 45px;
        margin-bottom: 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li:last-of-type {
        padding-right: 20px;
    }


    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li a {
        font-weight: 800;
        font-size: 14px;
        line-height: 40px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li {
        padding-right: 60px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li:last-of-type {
        padding-right: 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li a {
        font-weight: 700;
        line-height: 50px;
        font-size: 22px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button {
        padding: 40px 0px 80px 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px;
        line-height: 14px;
        background: #707e89;
        border-radius: 5px;
        border: 2px solid #707e89;
        font-weight: 800;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a:hover {
        border-color: transparent;
        background: #0f1b55;
        border: 2px solid #707e89;
    }

    .basic-header .nav-wrapper-mobile ul li:before {
        display: none;
    }

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 1199.98px) {

    .basic-header.custom-logo .main-nav-sticky .logo-wrapper a .bottom-logo img{
        margin: 0px;
    }

    .basic-header.custom-logo .nav-open{
        top: 32px;
    }

    .nav-open {
        display: block;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 10px;
        text-decoration: none;
        border: none;
    }

    .nav-open div {
        display: block;
        margin: 10px;
        width: 40px;
        height: 2px;
        background-color: #06222c;
    }

    .nav-open.dark-humb div {
        background-color: #06222c;
    }

    .full-screen-header .main-nav-sticky {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .full-screen-header .main-nav-sticky .logo-wrapper a img {
        margin: 15px 0px;
    }

    .nav-close {
        text-decoration: none;
        border: none;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }

    .nav-close:before, .nav-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: #FFF;
    }

    .nav-close:before {
        transform: rotate(45deg);
    }

    .nav-close:after {
        transform: rotate(-45deg);
    }

    .basic-header .logo-wrapper a img {
        width: 180px;
        height: auto;
    }

    .basic-header .logo-wrapper {
        padding-left: 15px;
        padding-top: 15px;
    }

    .basic-header .nav-wrapper {
        display: none;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container {
        margin-top: 120px;
    }

    .basic-header .nav-wrapper-mobile {
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        background-color: #0f1b55;
        width: 0px;
        right: 0px;
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        overflow-x: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        opacity: 0;
        position: fixed;
        z-index: 10;
    }

    .basic-header .nav-wrapper-mobile ul li {
        display: block;
        padding-right: unset !important;
        margin-bottom: unset !important;
    }

    .basic-header .nav-wrapper-mobile ul {
        display: block;
        max-width: 100%;
        text-align: right;
    }

    .basic-header ul li {
        display: inline-block;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container {
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li {
        padding-right: 45px;
        margin-bottom: 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li:last-of-type {
        padding-right: 20px;
    }


    .basic-header .nav-wrapper-mobile .menu-top-menu-container ul li a {
        font-weight: 800;
        font-size: 14px;
        line-height: 40px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li {
        padding-right: 60px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li:last-of-type {
        padding-right: 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li a {
        font-weight: 700;
        line-height: 50px;
        font-size: 22px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button {
        padding: 40px 0px 80px 0px;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a {
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px;
        line-height: 14px;
        background: #707e89;
        border-radius: 5px;
        border: 2px solid #707e89;
        font-weight: 800;
    }

    .basic-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a:hover {
        border-color: transparent;
        background: #0f1b55;
        border: 2px solid #707e89;
    }

    .basic-header .nav-wrapper-mobile ul li:before {
        display: none;
    }
}