html, body, main{
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
}

p,li{
    font-size: 20px;
    color:#06222c;
    font-weight: 400;
    margin-bottom: 35px;
}

body ul li{
    margin-bottom: 5px;
}

@media (max-width: 991.98px) {
    .desktop-only{
        display: none !important;
    }
    .mobile-only{

    }
}

@media (min-width: 992px) {
    .desktop-only{

    }
    .mobile-only{
        display: none !important;
    }
}

/* Basic Text Colors */

.txt-white,
.txt-white li a{
    color:#FFFFFF;
}

.txt-light{
    color:#9ea3c8;
}

.txt-blue{
    color:#0f1b55;
}

.txt-light-blue,
.txt-light-blue li a{
    color:#9ea3c8;
}

.txt-black{
    color:#000000;
}

.txt-gray{
    color:#707e89;
}

.txt-dark-blue{
    color:#06222c;
}

/* Basic Text Sizes */

.txt-xs,
.txt-xs li a{
    font-size: 12px;
}

.txt-sm{
    font-size: 14px;
}

.txt-sm-sm-md{
    font-size: 16px;
}

.txt-sm-md{
    font-size: 18px;
}

.txt-md{
    font-size: 20px;
}

.txt-md-lg{
    font-size: 22px;
}

.txt-lg{
    font-size: 24px;
}

.txt-xl{
    font-size: 40px;
}

.txt-xxl{
    font-size: 45px;
}

/* Basic Text Transform */

.txt-upper,
.txt-upper li a{
    text-transform: uppercase;
}

/* Basic Links Styles */
a{
    border-bottom: solid 1px transparent;
    text-decoration: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

a:hover{
    border-color: inherit;
    text-decoration: none;
}

/* Basic buttons Styles*/

.btn{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
}


.btn-primary, .btn-primary:active, .btn-primary:visited{
    background: #0f1b55;
    color:#FFF;
}

.btn-primary:hover{
    border-color: transparent;
    background: #707e89;
    text-decoration: none;
    color:#FFF;
}

/* Basic List Styles*/
ul{

}

ul li{
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li::before {
    content: "•";
    color: #000;
    display: inline-block;
    margin-left: -20px;
    margin-right: 0px;
    font-size: 15px;
    width: 20px;
}

/* =======================================
 Full Screen Header
 ========================================*/

.full-screen-header .main-nav-sticky .logo-wrapper a img {
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

/* sticky */
.full-screen-header .main-nav-sticky{
    display: block;
    position: fixed;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFF;
    -webkit-box-shadow: 0 0 3px 1px #dbdbdb;
    box-shadow: 0 0 3px 1px #dbdbdb;
    z-index: 10;
}

.full-screen-header .main-nav-sticky .top-logo{
    display: none;
}

.full-screen-header .main-nav-sticky .sticky-logo{
    display: block;
}

.full-screen-header .main-nav-sticky .logo-wrapper{
    padding-top: 0px;
}

.full-screen-header .main-nav-sticky .nav-wrapper .menu-top-menu-container{
    display: none;
}

.full-screen-header .main-nav-sticky .logo-wrapper a img{
    width: 170px;
}

.full-screen-header .main-nav-sticky .menu-header-menu-container ul li a{
    color: #06222c;
}

.full-screen-header .main-nav-sticky .menu-header-menu-container ul li.nav-button a{
    color:#FFF;
}

/* sticky end */

.full-screen-header.full-height{
    height: 100%;
}

.full-screen-header .logo-wrapper{
    padding-top: 20px;
    order: 1;
}

.full-screen-header .sticky-logo{
    display: none;
}

.full-screen-header .top-logo{
    display: block;
}

.full-screen-header .logo-wrapper a:hover{
    border-color: transparent;
}

.full-screen-header .logo-wrapper a img{
    width: 215px;
    height: auto;
}

.full-screen-header .nav-wrapper ul{
    display: block;
    max-width: 100%;
    text-align: right;
}
.full-screen-header ul li{
    display: inline-block;
}

.full-screen-header .nav-wrapper .menu-top-menu-container{
    margin-bottom: 25px;
    margin-top: 5px;
}

.full-screen-header .nav-wrapper .menu-top-menu-container ul li{
    padding-right: 45px;
    margin-bottom: 0px;
}
.full-screen-header .nav-wrapper .menu-top-menu-container ul li:last-of-type{
    padding-right: 20px;
}


.full-screen-header .nav-wrapper .menu-top-menu-container ul li a{
    font-weight: 800;
}

.full-screen-header .nav-wrapper .menu-top-menu-container ul li a.user-email{
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 700;
}

.full-screen-header .nav-wrapper .menu-header-menu-container ul li{
    padding-right: 60px;
}

.full-screen-header .nav-wrapper .menu-header-menu-container ul li:last-of-type{
    padding-right: 0px;
}

.full-screen-header .nav-wrapper .menu-header-menu-container ul li a{
    font-weight: 700;
    line-height: 50px;
}

.full-screen-header .nav-wrapper .menu-header-menu-container ul li.nav-button a{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    background: #0f1b55;
    border-radius: 5px;
    font-weight: 800;
}

.full-screen-header .nav-wrapper .menu-header-menu-container ul li.nav-button a:hover{
    border-color: transparent;
    background: #707e89;
}

.full-screen-header .nav-wrapper .nav-wrapper{
    padding-top: 15px;
    padding-right: 80px;
    order: 2;
    margin-left: auto;
}

.full-screen-header .nav-wrapper ul li:before{
    display: none;
}

.full-screen-header .nav-wrapper ul li.phone-icon:before{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/smartphone.svg);
    mask: url(../img/smartphone.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}
.full-screen-header .nav-wrapper ul li.contact-icon:before{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/mail.svg);
    mask: url(../img/mail.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}
.full-screen-header .nav-wrapper ul li.login-icon:before{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/user.svg);
    mask: url(../img/user.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.full-screen-header .nav-wrapper ul li.lead-icon:before{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0px 6px -4px 0px;
    content: "";
    -webkit-mask: url(../img/pen-tool.svg);
    mask: url(../img/pen-tool.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background: #FFF;
}

.roll-button,
.roll-button:before {
    position: absolute;
    left: 50%;
}

.roll-button:hover {
    border-color: #FFF;
}

.roll-button {
    width: 40px;
    height: 40px;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    bottom: 80px;
}

.roll-button:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

.full-screen-header .nav-wrapper-mobile{
    display: none;
}


.nav-open{
    display: none;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

    .nav-open{
        display: block;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 10px;
        text-decoration: none;
        border: none;
    }

    .nav-open div{
        display: block;
        margin: 10px;
        width: 40px;
        height: 2px;
    }

    .full-screen-header .main-nav-sticky .nav-open.dark-humb div,
    .full-screen-header .main-nav-sticky .nav-open.light-humb div{
        background-color: #06222c;
    }

    .full-screen-header .nav-open.dark-humb div,
    .full-screen-header .nav-open.light-humb div{
        background-color: #FFF;
    }

    /* sticky */

    .basic-header .main-nav-sticky{
        padding-top: 0px !important;
    }

    .full-screen-header .main-nav-sticky .menu-header-menu-container ul li a{
        color:#FFF;
    }

    .full-screen-header .main-nav-sticky .menu-header-menu-container ul li.nav-button a{
        color:#FFF;
    }

    .basic-header .main-nav-sticky .logo-wrapper a img{
        margin: 15px 0px 0px;
    }

    .nav-close {
        text-decoration: none;
        border: none;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }
    .nav-close:before, .nav-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: #FFF;
    }
    .nav-close:before {
        transform: rotate(45deg);
    }
    .nav-close:after {
        transform: rotate(-45deg);
    }


    .full-screen-header .logo-wrapper a img{
        width: 180px;
        height: auto;
    }

    .full-screen-header .logo-wrapper{
        padding-left: 15px;
        padding-top: 15px;
    }

    .full-screen-header .nav-wrapper{
        display: none;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container{
        margin-top: 120px;
    }

    .full-screen-header .nav-wrapper-mobile{
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        background-color: #0f1b55;
        width: 0px;
        right: 0px;
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        overflow-x: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        opacity: 0;
        position: fixed;
        z-index: 10;
    }

    .full-screen-header .nav-wrapper-mobile ul li{
        display: block;
        padding-right: unset !important;
        margin-bottom: unset !important;
    }

    .full-screen-header .nav-wrapper-mobile ul{
        display: block;
        max-width: 100%;
        text-align: right;
    }
    .full-screen-header ul li{
        display: inline-block;
    }

    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container{
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li{
        padding-right: 45px;
        margin-bottom: 0px;
    }
    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li:last-of-type{
        padding-right: 20px;
    }


    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li a{
        font-weight: 800;
        font-size: 14px;
        line-height: 40px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li{
        padding-right: 60px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li:last-of-type{
        padding-right: 0px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li a{
        font-weight: 700;
        line-height: 50px;
        font-size: 22px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button{
        padding: 40px 0px 80px 0px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a{
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px;
        line-height: 14px;
        background: #707e89;
        border-radius: 5px;
        border: 2px solid #707e89;
        font-weight: 800;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a:hover{
        border-color: transparent;
        background: #0f1b55;
        border: 2px solid #707e89;
    }

    .full-screen-header .nav-wrapper-mobile ul li:before{
        display: none;
    }

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 1199.98px) {

    .nav-open{
        display: block;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 10px;
        text-decoration: none;
        border: none;
    }

    .nav-open div{
        display: block;
        margin: 10px;
        width: 40px;
        height: 2px;
    }

    .full-screen-header .main-nav-sticky .nav-open.dark-humb div,
    .full-screen-header .main-nav-sticky .nav-open.light-humb div{
        background-color: #06222c;
    }

    .full-screen-header .nav-open.dark-humb div,
    .full-screen-header .nav-open.light-humb div{
        background-color: #FFF;
    }

    /* sticky */

    .basic-header .main-nav-sticky{
        padding-top: 0px !important;
    }

    .full-screen-header .main-nav-sticky .menu-header-menu-container ul li a{
        color:#FFF;
    }

    .full-screen-header .main-nav-sticky .menu-header-menu-container ul li.nav-button a{
        color:#FFF;
    }

    .basic-header .main-nav-sticky .logo-wrapper a img{
        margin: 15px 0px 0px;
    }

    .nav-close {
        text-decoration: none;
        border: none;
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
    }
    .nav-close:before, .nav-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: #FFF;
    }
    .nav-close:before {
        transform: rotate(45deg);
    }
    .nav-close:after {
        transform: rotate(-45deg);
    }


    .full-screen-header .logo-wrapper a img{
        width: 180px;
        height: auto;
    }

    .full-screen-header .logo-wrapper{
        padding-left: 15px;
        padding-top: 15px;
    }

    .full-screen-header .nav-wrapper{
        display: none;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container{
        margin-top: 120px;
    }

    .full-screen-header .nav-wrapper-mobile{
        display: block;
        position: absolute;
        top: 0;
        z-index: 5;
        background-color: #0f1b55;
        width: 0px;
        right: 0px;
        height: 100%;
        padding-right: 0px;
        padding-left: 0px;
        overflow-x: hidden;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        opacity: 0;
        position: fixed;
        z-index: 10;
    }

    .full-screen-header .nav-wrapper-mobile ul li{
        display: block;
        padding-right: unset !important;
        margin-bottom: unset !important;
    }

    .full-screen-header .nav-wrapper-mobile ul{
        display: block;
        max-width: 100%;
        text-align: right;
    }
    .full-screen-header ul li{
        display: inline-block;
    }

    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container{
        margin-bottom: 25px;
        margin-top: 5px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li{
        padding-right: 45px;
        margin-bottom: 0px;
    }
    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li:last-of-type{
        padding-right: 20px;
    }


    .full-screen-header .nav-wrapper-mobile .menu-top-menu-container ul li a{
        font-weight: 800;
        font-size: 14px;
        line-height: 40px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li{
        padding-right: 60px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li:last-of-type{
        padding-right: 0px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li a{
        font-weight: 700;
        line-height: 50px;
        font-size: 22px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button{
        padding: 40px 0px 80px 0px;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a{
        font-size: 14px;
        text-transform: uppercase;
        padding: 20px;
        line-height: 14px;
        background: #707e89;
        border-radius: 5px;
        border: 2px solid #707e89;
        font-weight: 800;
    }

    .full-screen-header .nav-wrapper-mobile .menu-header-menu-container ul li.nav-button a:hover{
        border-color: transparent;
        background: #0f1b55;
        border: 2px solid #707e89;
    }

    .full-screen-header .nav-wrapper-mobile ul li:before{
        display: none;
    }
}

/* =======================================
 Footer
 ========================================*/

.basic-footer{
    background-color: #030b2f;
    padding-top: 60px;
    padding-bottom: 90px;
    text-align: center;
}

.basic-footer ul{
    display: block;
    max-width: 100%;
    text-align: center;
}
.basic-footer ul li{
    display: inline-block;
    padding-left: 10px;
}

.basic-footer ul li:before {
    content: "•";
    color: #9ea3c8;
    display: inline-block;
    margin-left: -10px;
    margin-right: 0px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    height: 26px;
    top: -3px;
    position: relative;
}

.basic-footer ul li:first-of-type:before {
    display: none;
}

/* Social Links */

.basic-footer ul.social-links{
    margin-bottom: 15px;
}

.basic-footer ul.social-links li a{
    border: 2px solid #2e3d7e;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
}

.basic-footer ul.social-links li a:hover{
    border-color: #FFF;
}

.basic-footer ul.social-links li a svg path{
    fill: #FFF;
}

.basic-footer ul.social-links li:before{
    display: none;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {
    .basic-footer ul li {
        display: block;
        padding-left: 10px;
        margin-bottom: 10px;
    }

    .basic-footer ul.social-links{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .basic-footer ul.social-links li{
        display: inline-block;
    }

    .basic-footer #menu-footer-menu-top{
        margin-bottom: 40px;
    }

    .basic-footer ul li:before{
        display: none;
    }
}



/* =======================================
 Lending Marketplace
 ========================================*/



.lending-marketplace{
    display: inline-block;
    width:100%;
}

input[type=submit]{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color: #FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    width: 295px;
    text-align: center;
}

input[type=submit]:hover{
    border-color: transparent;
    background: #0f1b55;
    text-decoration: none;
    color: #FFF;
}

.gform_footer{
    text-align: center;
}

.gform_fields li.gfield{
    display:inline-block;
    width:100%;
}

.gform_fields li.gfield.half-field{
    width:50%;}

.gform_fields li.gfield input,
.gform_fields li.gfield input.datepicker,
.gform_fields li.gfield select{
    border: none;
    border-bottom: 2px solid #030b2f;
    background: #FFF;
    width: 100%;
}

.gform_fields li.gfield input[type=radio],
.gform_fields li.gfield input[type=checkbox]{
    width: auto;
}



.gform_fields li.gfield input::placeholder{
    color:#030b2f;
}

.gform_fields li.gfield{
    padding: 0px;
    display: inline-block;
    vertical-align: top;
}

.gform_fields li.gfield.width-6{
    width: 16.6%;
    display: inline-block;
}

.gform_fields li.gfield.width-3{
    width: 33.3%;
    display: inline-block;
}

.gform_fields li.gfield.width-2{
    width: 50%;
    display: inline-block;
}

.gform_fields li.gfield .instruction{
    display: none;
}

.gform_wrapper .lending-marketplace .gform_fields .gfield_description{
    padding-top: 2px;
    font-size: 14px;
    color: #555;
}

.gform_wrapper .lending-marketplace .top_label .gfield_label{
    overflow-x: visible;
    white-space: nowrap;
    position: absolute;
    font-size: 14px;
}

.lending-marketplace select{
    padding-top: 5px;
    padding-bottom: 6px;
    margin-top: 17px;
}

.gform_wrapper .lending-marketplace li.gfield.gsection{
    margin: 28px 16px 0px 0px;
    padding-top: 40px;
}

@media (max-width: 767.98px){
    .gform_fields li.gfield.half-field{
        width:100%;
    }

    .gform_body .gform_fields li.gfield{
        padding-left:0px;
    }

    .gform_fields li.gfield.width-6{
        width: 50%;
    }

    .gform_fields li.gfield.width-3{
        width: 100%;
    }

    .gform_fields li.gfield.width-2{
        width: 100%;
    }
    .gform_wrapper .ginput_container span:not(.ginput_price){
        display: inline-block;
    }
}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 1199.98px) {

    .gform_wrapper select {
        padding-top: 0px;
        padding-bottom: 5px;
        margin-top: 17px;
    }

}

/* =======================================
 Lost, Reset Pass
 ========================================*/

#password-lost-form, #password-reset-form{
    width: 100%;
    display: inline-block;
    text-align: center;
}

#password-lost-form form input, #password-reset-form form input{
    border: none;
    border-bottom: 2px solid #030b2f;
    background: #FFF;
}

#password-lost-form form input[type=submit], #password-reset-form form input[type=submit]{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color: #FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    text-align: center;
}

/* =======================================
 Cookie consent
 ========================================*/
.cli-style-v2{
    font-family: 'Nunito Sans', sans-serif;
}

.cli-style-v2 .cli-bar-btn_container .cli-plugin-button{
    background: #0f1b55 !important;
    border-radius: 5px;
    font-weight: 800;
    line-height: 16px;
}

.cli-style-v2 .cli-bar-btn_container .cli-plugin-button:hover{
    background: #707e89 !important;
}

.cli-style-v2 .cli-plugin-main-link:not(.cli-plugin-button), .cli-style-v2 .cli_settings_button:not(.cli-plugin-button), .cli-style-v2 .cli_action_button:not(.cli-plugin-button){
    text-decoration: none !important;
}