


.vendor-area .vendor-nav-wrapper{
    margin-bottom: 15px;
    margin-top: 30px;
    background: #707e89;
    padding-top: 5px;
    padding-bottom: 7px;
}

.vendor-area .vendor-nav-wrapper:after{
    content: "";
    width: 80px;
    height: 32px;
    background: #FFF;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    margin: -32px 0px 0px 0px;
    right: -40px;
}

.vendor-area .vendor-nav-wrapper ul.vendor-nav{
    display: block;
    max-width: 100%;
    text-align: left;
}

.vendor-area .vendor-nav-wrapper ul.vendor-nav li{
    padding-right: 45px;
    padding-left: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

.vendor-area .vendor-nav-wrapper ul.vendor-nav li:before{
    display: none;
}

.vendor-area .vendor-nav-wrapper ul.vendor-nav li a,
.vendor-area .vendor-nav-wrapper ul.vendor-nav li a:visited{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #FFFFFF;
    border-bottom: solid 1px transparent;
}

.vendor-area .vendor-nav-wrapper ul.vendor-nav li a:hover,
.vendor-area .vendor-nav-wrapper ul.vendor-nav li a:active{
    border-color: inherit;
    text-decoration: none;
}

.vendor-forms-wrapper .dataTables_wrapper{
    margin: 50px 0px;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

}

@media (max-width: 1290px) {
    .vendor-area .vendor-nav-wrapper ul.vendor-nav li{
        padding-right: 20px;
        padding-left: 0px;
        margin-bottom: 0px;
        display: inline-block;
    }
}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 1199.98px) {
    .vendor-forms-wrapper .dataTables_wrapper{
        overflow: scroll;
    }
}



/* ==================== Vendor Profile ==================== */
.vendor-profile-wrapper .gform_wrapper{
    display: inline-block;
}

.vendor-profile-wrapper .gform_wrapper input[type=submit]{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color: #FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    width: 295px;
    text-align: center;
}

.vendor-profile-wrapper .gform_wrapper input[type=submit]:hover{
    border-color: transparent;
    background: #0f1b55;
    text-decoration: none;
    color: #FFF;
}

.vendor-profile-wrapper .gform_wrapper .gform_footer{
    text-align: center;
}

.vendor-profile-wrapper .gform_fields li.gfield input{
    border: none;
    border-bottom: 2px solid #030b2f;
    background: #FFF;
}

.vendor-profile-wrapper .gform_fields li.gfield input[type=file]{
    border: unset;
    border-bottom: unset;
    background: #FFF;
}

.vendor-profile-wrapper .gform_fields li.gfield input::placeholder{
    color:#030b2f;
}

.alignright{
    text-align: left;
    padding-left: 30%;
}

.alignright p{
    font-weight: bold;
}

.vendor-profile-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}

.aligncenter{
    text-align: center;
    padding-top: 50px;
}

.change-pass input[type=password], .change-pass input[type=text]{
    border: none;
    border-bottom: 2px solid #030b2f;
    background: #FFF;
    font-size: inherit;
    font-family: inherit;
    padding: 5px 4px;
    letter-spacing: normal;
}

.change-pass input[type=submit]{
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color: #FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    text-align: center;
    margin: 0 0 0 20px;
}

.change-pass input[type=submit]:hover{
    border-color: transparent;
    background: #0f1b55;
    text-decoration: none;
    color: #FFF;
}

.change-pass .form-message{
    opacity: 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.change-pass .form-message p{
    font-size: 14px;
    margin-top: 10px;
}

.change-pass .form-message p a{
    color: inherit;
    font-weight: bold;
}

.change-pass .form-message p a:hover{
    color: inherit;
}

.change-pass .showpass{
    display: inline-block;
    width: 24px;
    height: 24px;
    color:#555555;
    opacity: .1;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    vertical-align: middle;
    margin-left: -25px;
}

.change-pass .showpass.eye{
    background-image: url("../img/eye.svg");
}

.change-pass .showpass.eye-off{
    background-image: url("../img/eye-off.svg");
}

.change-pass .showpass:hover{
    opacity: .4;
    text-decoration: none;
    border-color: transparent;
}

/* xs & sm & md (mobile and tablet) */
@media (max-width: 991.98px) {

    .vendor-profile-wrapper{
        padding-top: 20px;
    }

    .vendor-area .vendor-nav-wrapper:after{
        display: none;
    }

    .vendor-profile-wrapper .alignright{
        padding-left: 15px;
    }
}