.vendor-login{
    margin:250px 0px;
}

.vendor-login #vendor_login_form{}

.vendor-login #vendor_login_form #user_login,
.vendor-login #vendor_login_form #user_pass{
    width: 100%;
    border: none;
    border-bottom: 2px solid #030b2f;
    background: #FFF;
    color: #030b2f;
}

.vendor-login #vendor_login_form #user_login::placeholder,
.vendor-login #vendor_login_form #user_pass::placeholder {
    color: #030b2f;
}

.vendor-login #vendor_login_form #rememberme{}

.vendor-login #vendor_login_form #wp-submit{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color: #FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    width: 295px;
    text-align: center;
}

.vendor-login #vendor_login_form #wp-submit:hover{
    border-color: transparent;
    background: #0f1b55;
    text-decoration: none;
    color: #FFF;
}

.vendor-login .login-note h1,
.vendor-login .login-note h2,
.vendor-login .login-note h3,
.vendor-login .login-note h4,
.vendor-login .login-note h5,
.vendor-login .login-note h6{
    font-weight: 700;
    font-size: 24px;
    color: #0f1b55;
    margin-bottom: 35px;
    line-height: 24px;
}

.vendor-login .login-note p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #06222c;
    font-weight: 400;
}

.vendor-login p.login-remember{
    display: inline-block;
    float: left;
}

.vendor-login p.login-lost{
    display: inline-block;
    margin-left: 7px;
}

.vendor-login .form-error p{
    color: #d61436;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {
    .vendor-login{
        margin:50px 0px;
    }

    .vendor-login #vendor_login_form{
        margin-top: 50px;
    }

    .vendor-login #vendor_login_form #wp-submit{
        width: 100%;
    }
}