/* general */

.x-content .buttons-wrapper {
    margin-top: 40px;
}

.x-content {
    background-size: cover;
}

.x-content ul li em{
    font-style: italic;
}

@media (min-width: 1600px) {
    .x-content .container {
        width: 100%;
    }

    .x-content .image-right .image-wrapper img {
        clip-path: polygon(16% 0, 100% 0, 84% 100%, 0% 100%);
    }

    .x-content .image-left .image-wrapper img {
        clip-path: polygon(16% 1%, 100% 0, 84% 100%, 0% 100%);
    }
}

@media (max-width: 1599px) {
    .x-content .container {
        overflow: hidden;
        width: 100%;
    }

    .x-content .image-left .image-wrapper img {
        clip-path: polygon(0 1%, 100% 0, 84% 100%, 0% 100%);
    }

    .x-content .image-right .image-wrapper img {
        clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.x-content .row.image-left .image-wrapper {
    padding-right: 3%;
}

.x-content .row.image-right .image-wrapper {
    padding-left: 3%;
}

.x-content .row.image-left {
    display: flex;
    flex-flow: row-reverse;
}

.x-content .row.image-left .image-wrapper img {
    float: right;
}

.x-content .row.image-right .image-wrapper img {
    float: left;
}

.x-content .row.image-right {
    display: flex;
    flex-flow: row;
}

.x-content .row.image-right .textarea-wrapper {
    padding-left: calc((100% - 1170px) / 2);
}

.x-content .row.image-left .textarea-wrapper {
    padding-left: calc((100% - 1170px) / 4);
}

.x-content .section-head {
    font-weight: 800;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

    .x-content h3 {
        font-size: 30px !important;
        line-height: 38px !important;
        font-weight: 600 !important;
        padding-bottom: 20px !important;
        margin-top: 30px !important;
    }

    .x-content h3 br {
        display: none;
    }

    .x-content .container {
        padding: 0px !important;
    }

    .x-content {
        background-image: unset !important;
    }

    .x-content .row.image-right,
    .x-content .row.image-left {
        /*display: unset;
        flex-flow: unset;*/
    }

    .x-content .row.image-right {
        display: flex;
        flex-flow: column-reverse;
    }

    .x-content .row.image-left {
        display: flex;
        flex-flow: column-reverse;
    }

    .x-content .row .image-wrapper {
        padding: unset !important;
    }

    .x-content .image-right .image-wrapper img,
    .x-content .image-left .image-wrapper img {
        float: unset !important;
        clip-path: unset !important;
        width: 100%;
        height: auto;
    }

    .x-content .row .textarea-wrapper {
        padding: 0px 45px !important;
    }
}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .x-content h3 {
        font-size: 30px !important;
        line-height: 38px !important;
        font-weight: 600 !important;
        padding-bottom: 20px !important;
        margin-top: 30px !important;
    }

    .x-content h3 br {
        display: none;
    }

    .x-content .container {
        padding: 0px !important;
    }

    .x-content {
        background-image: unset !important;
    }

    .x-content .row.image-right,
    .x-content .row.image-left {
        /*display: unset;
        flex-flow: unset;*/
    }

    .x-content .row.image-right {
        display: flex;
        flex-flow: column-reverse;
    }

    .x-content .row.image-left {
        display: flex;
        flex-flow: column-reverse;
    }

    .x-content .row .image-wrapper {
        padding: unset !important;
    }

    .x-content .image-right .image-wrapper img,
    .x-content .image-left .image-wrapper img {
        float: unset !important;
        clip-path: unset !important;
        width: 100%;
        height: auto;
    }

    .x-content .row .textarea-wrapper {
        padding: 0px 45px !important;
    }


}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .x-content .row.image-right .textarea-wrapper{
        padding-left: calc((100% - 940px) / 2);
    }
}

/* lg (desktop) */
@media (min-width: 992px) {

}