/* general */

.team .section-head{
    text-align: center;
    margin-bottom: 45px;
    font-weight: 600;
}

.team .section-head::before{
    position: absolute;
    border: 2px solid #0f1b55;
    content: '';
    width: 50px;
    left: calc(50% - 25px);
    margin-top: -25px;
}

.team .bio-wrapper{
    text-align: center;
}

.team a.bio-wrapper{
    color: unset;
}

.team a.bio-wrapper:hover{
    border-color: transparent;
    color:#707e89;
}

.team .bio-photo{
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
}

.team .bio-photo::before {
    position: absolute;
    bottom: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    border: 1px solid #c2c2c2;
    content: '';
}

.team .bio-details{
    margin-top: 35px;
    padding-left: 15px;
}

.team .bio-details b{
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
}
.team .bio-details span{}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* lg (desktop) */
@media (min-width: 992px) {

}