/* general */

.news .section-head{
    font-weight: 800;
    letter-spacing: 5px;
    margin-bottom: 45px;
}

.news .featured-wrapper img{
    width: 100%;
    height: auto;
}

.news .featured-wrapper h3{
    margin-bottom: 15px;
    margin-top: 40px;
    font-weight: 600;
}

.news .featured-wrapper a{
    color: unset;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.news .featured-wrapper a:hover{
    border-color: transparent;
    color:#707e89;
}

.news .latest-wrapper{
    padding-left: 80px;
}

.news .latest-wrapper ul li{
    padding-left: 0px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #c2c2c2;
}

.news .latest-wrapper ul li:before{
    display: none;
}

.news .latest-wrapper ul li a{
    color: unset;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.news .latest-wrapper ul li a:hover{
    border-color: transparent;
    color:#707e89;
}

.news .latest-wrapper h3{
    font-weight: 700;
    margin-bottom: 15px;
}

.news .latest-wrapper .buttons-wrapper{
    padding-top: 25px;
}

/* xs & sm (mobile) */
@media (max-width: 767.98px) {

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* lg (desktop) */
@media (min-width: 992px) {

}