/* general */

.gravity-form .section-head{
    text-align: center;
    margin-bottom: 45px;
    font-weight: 600;
}

.gravity-form .section-head::before{
    position: absolute;
    border: 2px solid #9ea3c8;
    content: '';
    width: 50px;
    left: calc(50% - 25px);
    margin-top: -25px;
}

.gravity-form .form-wrapper{
    display: flex;
    justify-content: center;
}

.gravity-form .gform_wrapper .gform_footer input.button,
.gravity-form .gform_wrapper .gform_footer input[type=submit],
.gravity-form .gform_wrapper .gform_page_footer input.button,
.gravity-form .gform_wrapper .gform_page_footer input[type=submit]{
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    line-height: 14px;
    border-radius: 5px;
    font-weight: 800;
    display: inline-block;
    background: #707e89;
    color:#FFF;
    border: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    width: 295px;
    text-align: center;
}

.gravity-form .gform_wrapper .gform_footer input.button:hover,
.gravity-form .gform_wrapper .gform_footer input[type=submit]:hover,
.gravity-form .gform_wrapper .gform_page_footer input.button:hover,
.gravity-form .gform_wrapper .gform_page_footer input[type=submit]:hover{
    border-color: transparent;
    background: #0f1b55;
    text-decoration: none;
    color:#FFF;
}


/* xs & sm (mobile) */
@media (max-width: 767.98px) {

}

/* md (tablet) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* lg (desktop) */
@media (min-width: 992px) {

}