/* Main column width */
.wp-block {
    max-width: 1140px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: unset;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: unset;
}

/* Fix color picker */
body .acf-color-picker .wp-picker-holder{
    position: relative;
}

/* table extra styles */
.dataTables_wrapper .dataTables_filter input{
    background-color: #FFF;
}

.dataTables_wrapper .dataTables_length select{
    background-color: #FFF;
    padding: 4px 20px 4px 4px;
}

.dataTables_wrapper{
    margin-top: 40px;
}

.button.action{
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}

.button.action.approval-btn,
.button.action.approval-btn:focus{
    color: #127201;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.approval-btn:hover{
    color: #9aff85;
}

.button.action.disapproval-btn,
.button.action.disapproval-btn:focus,
.button.action.disapproval-btn:active{
    color: #6f6f6f;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.disapproval-btn:hover{
    color: #929292;
}

.button.action.remove-btn,
.button.action.remove-btn:focus,
.button.action.remove-btn:active{
    color: #a10000;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.remove-btn:hover{
    color: #fc8282;
}

.button.action.edit-btn,
.button.action.edit-btn:focus,
.button.action.edit-btn:active{
    color: #0073aa;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.edit-btn:hover{
    color: #8bdeff;
}

.button.action.mark_contacted-btn,
.button.action.mark_contacted-btn:focus,
.button.action.mark_contacted-btn:active{
    color: #d47f01;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.mark_contacted-btn:hover{
    color: #ffaf3c;
}

.button.action.contacted-btn,
.button.action.contacted-btn:focus,
.button.action.contacted-btn:active{
    color: #227f00;
    padding: 0px 2px;
    line-height: 100%;
    border: none;
    background: none;
    min-height: 20px;
}

.button.action.contacted-btn:hover{
    color: #39bd09;
}

.js-table .btn-wrapper{
    min-width: 80px;
}